.layout {
  display: flex;
}

.layout-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.page-content {
  background-color: #f9f9f9;
  flex-grow: 1;
  padding: 24px 58px;
}

@media only screen and (max-width: 851px) {
  .layout {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 652px) {
  .page-content {
    padding: 24px 24px;
  }
}
