.account-chevron {
  padding-top: 16px;
}

.account-name {
  font-size: 14px;
  font-weight: 600;
}

.account-email {
  color: #9a9a9a;
  font-size: 10px;
}

.account-info {
  margin: 14px 16px 14px 0;
}

.searchbar-account {
  background-color: #fff;
  display: flex;
  padding: 0 32px;
  text-align: right;
}

.searchbar-anchor {
  color: #000;
  text-decoration: none;
}
