.account-name {
  font-size: 1.4rem;
  font-weight: 600;
}

.account-email {
  color: #9a9a9a;
  font-size: 1rem;
}

.account-info {
  margin: 0 14px 0 0;
  padding-bottom: 4px;
}

.searchbar-account {
  align-items: center;
  background-color: #fff;
  display: flex;
  height: 61px;
  padding: 0 32px;
  text-align: right;
}

.searchbar-anchor {
  color: #000;
  text-decoration: none;
}

@media only screen and (max-width: 394px) {
  .searchbar-account {
    flex-grow: 1;
  }
}
