.chart-small {
  background-color: #fff;
  box-shadow: 0 10px 20px 0 rgba(0, 0, 0, 0.1);
}

.chart-sm-area {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
}

.chart-sm-icon-down {
  color: #f2648a;
  font-size: 12px;
  margin-right: 4px;
  transform: rotate(45deg);
}

.chart-sm-icon-plus {
  height: 10px;
  margin: 0 0 5px 0;
}

.chart-sm-icon-up {
  color: #00d092;
  font-size: 12px;
  margin-right: 4px;
  transform: rotate(45deg);
}

.chart-sm-img {
  box-shadow: 0 10px 16px 0 rgba(0, 0, 0, 0.1);
  height: 75px;
  width: 75px;
}

.chart-sm-info {
  padding: 0 16px 0 32px;
}

.chart-sm-info-subtitle {
  color: #9a9a9a;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.42px;
}

.chart-sm-info-title {
  font-weight: 600;
  letter-spacing: -0.52px;
}

.chart-sm-left {
  display: flex;
}

.chart-sm-options {
  align-items: center;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  color: #000;
  display: flex;
  font-family: 'Source Sans Pro', sans-serif;
  height: 28px;
}

.chart-sm-main {
  align-items: center;
  display: flex;
}

.chart-sm-right {
  align-items: center;
  display: flex;
}

.chart-sm-stat {
  font-size: 22px;
  font-weight: 600;
  text-align: right;
}

.chart-sm-substat {
  color: #9a9a9a;
  font-size: 13px;
  font-weight: 600;
  letter-spacing: -0.42px;
  text-align: right;
}
