.searchbar-search {
  background-color: #fff;
  border-right: 1px solid rgba(0, 0, 0, 0.1);
  display: flex;
  flex-grow: 1;
  height: 61px;
}

.search-input {
  background-color: #fff;
  background-image: url('/images/search-icon.png');
  background-position: 32px 24px;
  background-repeat: no-repeat;
  background-size: 14px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  flex-grow: 1;
  padding-left: 58px;
}
