.active-link {
  color: #000;
}

.charts-links {
  list-style-type: none;
  padding-left: 16px;
}

.charts-link {
  font-weight: 400;
  text-decoration: none;
}

.fas {
  margin-top: 4px;
}

.flex-link {
  flex-grow: 1;
}

.inactive-link {
  color: rgba(0, 0, 0, 0.5);
}

.li-sp-sm {
  padding: 8px 0;
}

.li-sp-lg {
  padding: 12px 0;
}

.logo {
  display: block;
  margin: 24px auto;
  max-width: 200px;
  width: 78%;
}

.navbar {
  background-color: #fff;
  border: 1px solid #ececec;
  flex-basis: 232px;
  flex-shrink: 0;
}

.navbar-bottom {
  border-top: none;
  display: none;
  flex-shrink: 2;
}

.navbar-hide {
  display: none !important;
}

.navlinks {
  list-style-type: none;
  padding: 32px 24px;
}

.navlink {
  font-weight: 600;
  text-decoration: none;
}

.selected-link {
  flex-basis: 16px;
}

@media only screen and (max-width: 1114px) {
  .navbar {
    flex-basis: 186px;
  }
}

@media only screen and (max-width: 1008px) {
  .navbar {
    flex-basis: 139px;
  }
}

@media only screen and (max-width: 901px) {
  .navbar {
    flex-basis: 93px;
  }
}

@media only screen and (max-width: 851px) {
  .logo {
    display: none;
  }

  .navbar {
    flex-basis: 100%;
  }

  .navbar-bottom {
    display: block;
  }

  .navbar-top {
    display: none;
  }
}
