body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

:focus {
  outline: 1px solid rgba(81, 203, 238, 0.5);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
}

::placeholder {
  opacity: 1;
}

.flex-container {
  display: flex;
}

.flex-subcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
