body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

:focus {
  border: 1px solid rgba(81, 203, 238, 1);
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  outline: none !important;
}

.flex-container {
  display: flex;
}

.flex-subcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  justify-content: stretch;
}
