html {
  font-size: 62.5%;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.6rem;
  margin: 0;
}

button::-moz-focus-inner {
  border: none;
}

button:focus {
  outline: none;
}

:focus {
  box-shadow: 0 0 4px rgba(81, 203, 238, 0.75);
  outline: 1px solid rgba(81, 203, 238, 0.75);
}

::placeholder {
  color: #000;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.6rem;
  opacity: 1;
}

.flex-container {
  display: flex;
}

.flex-subcontainer {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

@media only screen and (max-width: 639px) {
  ::placeholder {
    opacity: 0;
  }
}
